html {
    font-size: 16px;
}

img {
    width:100%;
    height: auto;
    display: block;
}

video{
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: gray;
}

.container {
    display: grid;
    border: lightgrey 1px solid;
}

.flex-container {
    display: flex;
}

.header {
    padding: 0rem 1.5rem;
    height: 4rem;
}

p {
    color: grey;
}

.grey {
    color:grey;
}

.gray {
background-color: lightgray;
}

.header-left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-right {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.header ul {
    list-style-type: none;
    display: flex;
    font-size: 1rem;
    padding: 0 1rem;
}

.header ul li {
    padding-left: 1rem;

}
.header-mobile {
    display: none;
}

@media only screen and (max-width: 760px) {
    .header {
      display: none;
    }
  
    .header-mobile {
      display: block;
      width: 100%;
    }
  
    .header-mobile ul {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      padding: 0;
          list-style-type: none;
    }
  
    .header-mobile li {
      padding: 0;
    }
  }
  

.news {
    background-color: lightgray;
    color: black;
}

.news-left {
    margin: 2rem 1.5rem;
    width: 60vw;
    box-sizing: border-box;
}

.news-right {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.news-right-center {
    padding: 0 4rem;
}

.news-right button {
    padding: 0.5rem;
    color: white;
    background-color: gray;
    border-color:gray;
    width: 100%;
}


@media only screen and (max-width: 760px) { 
    /* Styles for mobile devices */ 
    .news {
        display: grid;
        grid-template-columns: 1fr;
        }
    
    .news-left {
        width: 100%;
        margin: 0;
    }
    
    .news-right {
        width: 100%;
    }
    
    .news-right button {
        width: 100%;
    }
    
    .news-right-center {
        padding: 2rem 1rem;
    }
    
    .marginbottom20rem {
        margin-bottom: 2rem;
    }
    
    .marginbottom15rem {
        margin-bottom: 1.5rem;
    }
}


.offering {
    height: auto;
}

.offering-left {
    margin: 2rem 1.5rem;
    width: 60vw;
    box-sizing: border-box;
}

.offering-right {
    width: 40%; 
    margin-top: 1rem;
}

.offer-2 {
    display: flex;
    grid-template-columns: 35% 65%;
    align-items: center;
}

.offer-2-picture {
    margin: 1rem 1rem;
    width: 35%;
    height: auto;
}

.offer-2-text {
    align-items: center;
}

.offer-2-text a {
    color:blue;
}

.offer-2 .mobile {
    display: none;
}


@media only screen and (max-width: 760px) { 
    /* Styles for mobile devices */ 
    .offering-left {
        display: none;
        }
    
    .offering-right {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        margin: 0;
        }   
    
    .offer-2 {
        display: grid;
        grid-template-columns: 1fr;
        margin: 1rem;
        } 
    
    .offer-2 .mobile {
        display: flex;
    }  

    .offer-2-picture {
        width: 100%;
        margin: 0;
        height: auto;
        border: blue 1px solid;
    }
 
    .offer-2-text {
        padding: 1rem 1rem;
        background-color: white;
    }

    .offer-2 .desktop {
        display: none;
    }
}


.startlearning {
    padding: 2rem;
    background-color: lightgray;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 760px) { 
    /* Styles for mobile devices */ 
    .startlearning {
        background-color: white;
    }
}

.coursecontainer {
    margin: 0 4rem 2rem 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    background-color: lightgray;
}

.courses {
    background-color: white;
}

.courses-text {
    padding: 1rem 0 1.5rem 1rem;
}

.courses-mobile {
    display: none;
}

@media only screen and (max-width: 760px) { 
    /* Styles for mobile devices */ 
    .courses {
        display: none;
    }

    .coursecontainer {
        margin: 0;
        display: grid;
        grid-template-columns: 1fr;
        column-width: 100%;
    }

    .courses-mobile {
        display:flex;
        flex-direction: column;
        color: black;
        background-color: white;
        row-gap: 0.5rem;
    
    }
    
    .courses-link-mobile {
        background-color: lightgrey;
        padding: 1rem 1rem 1.5rem 1rem;
        margin: 0 1rem;
    }
    
    .courses-link-mobile a {
        color:black;
    }
}

.thesisexh {
    padding: 2rem;
    display: flex;
    justify-content: center;
}

.thesis-left {
    width: 60vw;
    box-sizing: border-box;
    margin: 0 2rem;
}

.thesis-right {
    width: 40%;
}

.thesis-2-picture {
    margin: 1rem 1rem;
    width: 35%;
    height: auto;
    box-sizing: border-box;
}

.thesis-2 {
    display: flex;
    grid-template-columns: 35% 65%;
}

.video-text {
    margin: 2rem 0 0 0;
}

@media only screen and (max-width: 760px) { 
    /* Styles for mobile devices */ 
    .thesis-right,
    .video-text {
        display:none;
        } 
    
    .thesis-left {
        width: 100%;
        margin: 0;
    }
}


.footer {
    padding: 1rem 1.5rem;
}

.footer-right {
    margin-left: auto;
}

.footer-right ul {
    list-style-type: none;
    display: flex;
    font-size: 1rem;
    padding: 0 1rem;
}

.footer-right ul li {
    padding-left: 1rem;
}

@media only screen and (max-width: 760px) { 
    /* Styles for mobile devices */ 
    .footer-right {
        display:none;
    } 
}